@charset "UTF-8";

 
.header{
	width: 100%;
	
}

.footer{
	width: 100%;
	margin-top:20px;
}

.row {
    width: 90%;
    margin: auto;
    overflow: auto;
}


.col {
    float: left;
    margin: 0 3% 0 0;
}

.col--1 { width: 5.5%; }
.col--2 { width: 14%; }
.col--3 { width: 22.5%; }
.col--4 { width: 31%; }
.col--5 { width: 39.5%; }
.col--6 { width: 48%; }
.col--7 { width: 56.5%; }
.col--8 { width: 65%; }
.col--9 { width: 73.5%; }
.col--10 { width: 82%; }
.col--11 { width: 90.5%;} 
.col--12 { width: 99%; margin: 0; }

.card{
	height: 150px;
}

.anleitung{
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 0.25rem;
	
}

.footer .form-control{
	display: unset;
}

.right{
	float:right;
}